@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet.locatecontrol/dist/L.Control.Locate.min.css';

.m-plus-1 {
  font-family: 'M PLUS 1', sans-serif !important;
}

/* 地図を画面全体に表示 */
.leaflet-container {
  width: 90vw !important;
  height: 60vh !important;
}
.facility-card-detail {
  .leaflet-container {
    width: 100% !important;
    height: 100% !important;
    // 768px以下の場合は高さを変更
    @media (max-width: 900px) {
      min-height: 30vh !important;
    }
  }
}
.fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  .leaflet-container {
    width: 100vw !important;
    height: 100vh !important;
  }
}

/* 通常カーソル */
.leaflet-grab {
  cursor: auto;
}